.container {


 margin: 1px 1px 1px 1px;
 text-align: -webkit-center;
}

.spinner-container{
  font-family: 'Courier New', Courier, monospace;
}

.container-search {
    width: 80%;
    margin: 0.5px 0.5px 0.5px 0.5px;
}

.container-results {
    font-family: 'Courier New', Courier, monospace;
    
}

.each-records{
    font-family: 'Courier New', Courier, monospace;
}