.container {
  margin: var(--lwc-borderWidthThin, 1px);
  text-align: -webkit-center;
}

.spinner-container {
  font-family: "Courier New", Courier, monospace;
}

.container-search {
  width: 80%;
  margin: 0.5px 0.5px 0.5px 0.5px;
}

.container-results {
  font-family: "Courier New", Courier, monospace;
  border: var(--lwc-borderWidthThin, 1px) solid silver;
  z-index: var(--lwc-zIndexSticky, 100);
  position: absolute;
  width: inherit;
  background-color: var(--lwc-colorBackgroundAlt, #ffffff);
  height: 100px;
  overflow-y: scroll;
}

.each-records {
  font-family: "Courier New", Courier, monospace;
  cursor: pointer;
}

.each-records:hover {
  background-color: #f5f5ab;
  color: blue;
  text-decoration: underline;
}

.inner-element-icon {
  margin-right: 5px;
}

.img-icon {
  background-color: var(--iconColor);
  width: 25px;
  height: 25px;
  margin: 5px;
}
